streamlit==1.56.0
moviepy==2.2.1
torch==2.6.0
torchvision==0.21.0
numpy==2.2.6
pandas==2.3.2
neuralset==0.0.2
neuraltrain==0.0.2
x-transformers==1.27.20
einops==0.8.1
PyYAML==6.0.2
huggingface-hub==0.34.4
gTTS==2.5.4
langdetect==1.0.9
spacy==3.8.7
soundfile==0.13.1
Levenshtein==0.27.1
julius==0.2.7
transformers==4.55.4
